@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.App {
   font-family: 'PT Sans', sans-serif;
   background-color: #E7E5E5;
}
.container {
   display: flex;
   flex-direction: column;
   margin: 0 40px;
   box-shadow: 1px 1px 1px 1px #ababab;
   background-color: #ffffff;
}
.content {
   width: 100%;
}
@media(max-width: 768px) {
   .container {
      margin: 0;
   }
}